@model StatisticsModel

<div class="small" style="margin-top:30px">
    <div class="row"><h6>Atendee stats</h6></div>
    <div class="row">
        <div class="col-md-2">
            <table class="table">
                <tr>
                    <th>Average</th>
                    <th>Total</th>
                </tr>
                <tr>
                    <td>@Model.AverageConferenceAtendees</td>
                    <td>@Model.NumberOfAtendees</td>
                </tr>
            </table>
        </div>
    </div>
</div>